<template>
  <div class="layout">
    <h1 class="title title--1">Titre</h1>

    <div class="layout__content">
      <div class="category">
        <h2 class="category__title">Categorie - 1/1</h2>

        <div class="question">
          <p class="question__content">Question</p>
        </div>
      </div>
    </div>
  </div>
</template>
