.layout {
  width: 90%;
  height: 100%;
  max-width: 1100px;
  margin: auto;

  &__content {
    display: flex;
    flex-wrap: wrap;
  }
}

.title {
  font-weight: bold;

  &--1 {
    font-size: 3.2rem;
  }

  &--2 {
    font-size: 2.2rem;
  }

  &--3 {
    font-size: 1.8rem;
  }
}

.category {
  width: 33%;
  padding-right: 1rem;

  @media screen and (max-width: 1280px) {
    width: 50%;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  &__title {
    @extend .title, .title--2;

    margin-bottom: 1rem;
  }
}

.question {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
  padding: 1rem;
  background: white;
  border-radius: 0.5rem;

  &__status {
    content: "";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 0.1rem solid #e2e2e2;

    &--CORRECT {
      background: rgb(23, 128, 23);
      border-color: transparent;
    }

    &--INCORRECT {
      background: rgb(184, 24, 51);
      border-color: transparent;
    }

    &--PARTIALLY_CORRECT {
      background: rgb(207, 188, 19);
      border-color: transparent;
    }
  }
}
